/* ===========head============ */

:root {
  --main-font: "Roboto" sans-serif;
  --main-text-color: #2c2c2c;
}

.container {
  width: 1280px;
  padding: 0 15px;
  /* border: 2px solid red; */
  margin-left: auto;
  margin-right: auto;
}

/* body {
   margin-top: 0;
} */

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  color: var(--main-text-color);
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  color: transparent;
}

button {
  cursor: pointer;
}

.list {
  text-decoration: none;
  /* list-style: none; */
}

/* ==============header============= */

.header-block {
  display: flex;
  position: relative;
  justify-content: space-between;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.nav-header {
  display: flex;
}

.header-box {
  display: flex;
}

.logo-box {
  display: flex;
  width: 66px;
}

.header-logo {
  position: absolute;
  padding: 10px 0;
  width: 66px;
}

.header-logo:hover {
  width: 70px;
}

.header-list {
  display: flex;
  gap: 28px;
  margin-right: 30px;
  align-items: center;
}

.link-text {
  /* font-family: var(--main-font); */
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  color: var(--main-text-color);
  transition: all 300ms linear;
}

.btn-header {
  display: flex;
  align-items: start;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: var(--main-text-color);
  height: 32px;
  padding: 6px 18px;
  margin-right: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #bbf330;
  border-radius: 30px;
  border: none;
  transition: all 300ms linear;
}

.btn-header:hover,
.btn-header:focus {
  background-color: #ffe450;
  transition: all 300ms linear;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
}

.link-text:hover,
.link-text:focus {
  color: #bbf330;
  text-decoration: underline;
  transition: all 300ms linear;
}

/* ================ 1 секція =================== */

.main-block {
  display: flex;
  padding-top: 51px;
  padding-bottom: 51px;
  padding-right: 44px;
  justify-content: space-between;
}

.text-block {
  max-width: 514px;
  align-items: center;
  padding-left: 16px;
  padding-top: 110px;
}

.main-title {
  /* font-family: var(--main-font); */
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 28px;
}

.main-text {
  /* font-family: var(--main-font); */
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 46px;
}

.img-plate-box {
  position: relative;
  display: flex;
  width: 510px;
  height: 510px;
  border-radius: 50%;
  border: 24px solid #ffe450;
  overflow: hidden;
  cursor: pointer;
  /* background-image: url(../images/plate.png);
        background-repeat: no-repeat;
        background-size: cover; */
  /* object-fit: contain;
  object-position: 50%; */

  /* box-shadow: inset 0 0 0 10px #fff, inset 0 0 0 24px #ffe450; */
  /* border: 14px solid #ffe450; */

  /* overflow: hidden; */
}

.img-plate {
  position: absolute;
  display: flex;
  height: 100%;
  transition: translate 500ms linear;
  translate: 0;
}

/* .img-plate:hover {
  translate: 100%;
} */

.img-plate-two {
  position: absolute;
  display: flex;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
  transition: translate 500ms linear;
  translate: 0;
  transition: all 500ms linear;
}

.img-plate-two:hover {
  translate: 100%;
  transition: all 500ms linear;
}

/* object-fit: contain;
        object-position: 50%; */
/* max-width: 512px;
    border: 10px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 14px #FFE550; */

/* ============ Секція 2 ================= */

.second-section {
  background-color: #ffe450;
  padding-top: 124px;
  padding-bottom: 124px;
}

.aple-box {
  display: flex;
  justify-content: center;
}

.aple-item {
  display: flex;
  background-image: url(../images/aple.jpg);
  /* background-image: url(../); */
  background-repeat: no-repeat;
  background-size: contain;
  width: 550px;
  height: 550px;
  box-shadow: inset 0 0 0 20px #ffe450, 0 0 0 5px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transition: all 250ms linear;
  cursor: pointer;
}

.aple-item:hover,
.aple-item:focus {
  box-shadow: inset 0 0 0 20px #ffe450, 0 0 0 5px #ffe450,
    0px 0px 41px 3px rgba(0, 0, 0, 0.6);
  transition: all 250ms linear;
}
.aple-list {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.part-list {
  max-width: 254px;
}

.right-aple-box {
  margin-left: 126px;
}

.aple-title {
  /* font-family: var(--main-font); */
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  max-width: 540px;
}

.aple-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  max-width: 500px;
  margin-top: 20px;
}

.bg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 50%;
  margin-bottom: 8px;
  transition: all 250ms linear;
}

.bg-icon:hover,
.bg-icon:focus {
  background-color: #ffe550;
  transition: all 300ms linear;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
}

.skills-title {
  /* font-family: var(--main-font); */
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 16px;
}

.skills-text {
  /* font-family: var(--main-font); */
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

.aple-btn {
  display: flex;
  align-items: center;
  /* font-family: var(--main-font); */
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: var(--main-text-color);
  height: 32px;
  padding: 6px 18px;
  margin-right: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 2px solid #7eb101;
  border-radius: 30px;
  transition: all 300ms linear;
}

.aple-btn:hover,
.aple-btn:focus {
  background-color: #bbf330;
  border-color: #bbf330;
  transition: all 300ms linear;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
}

/* ================== Favorites =============== */

.third-section {
  padding-top: 100px;
  padding-bottom: 106px;
}

.meal-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 22px;
}

.meal-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 36px;
}

.meal-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.meal-box {
  width: calc((100% - 64px) / 3);
}

.meal-img:hover,
.meal-img:focus {
  border-color: #bbf330;
  box-shadow: 3px 4px 32px 2px rgba(0, 0, 0, 0.75);
  transition: all 300ms linear;
}

.meal-img {
  display: flex;
  width: 100%;
  padding: 24px;
  border: 16px solid #ffe550;
  border-radius: 50%;
  box-shadow: 3px 4px 15px -5px rgba(0, 0, 0, 0.75);
  transition: all 300ms linear;
}

/* ============= 4 секція ============== */

.forth-section {
  background-color: #ffe450;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-cards {
  display: flex;
}

.about-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  margin-bottom: 20px;
  padding-left: 16px;
}

.about-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  padding-left: 16px;
  margin-bottom: 32px;
}

.about-card-one {
  max-width: 502px;
  background-color: #fefefe;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-left: 14px;
  border-radius: 30px;
  border-top-left-radius: 0;
  margin-right: 140px;
  box-shadow: 9px 9px 15px -4px rgba(0, 0, 0, 0.6);
  transition: all 250ms linear;
}

.about-card-one:hover,
.about-card-one:focus {
  box-shadow: 9px 9px 17px 6px rgba(0, 0, 0, 0.6);
  transition: all 250ms linear;
}

.card-one-list {
  display: flex;
  padding-left: 14px;
  gap: 4px;
  margin-bottom: 28px;
}

.card-one-text {
  /* font-family: var(--main-font); */
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  color: #2c2c2c;
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 40px;
}

.card-team {
  display: flex;
}
.card-img-man {
  display: flex;
  min-width: 46px;
  margin-left: 14px;
  background-image: url(../images/some-man.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 46px;
  height: 46px;
  box-shadow: 0 0 0 2px #ffe450;
  border-radius: 50%;

  transition: all 300ms linear;
}

.card-img-man:hover,
.card-img-man:focus {
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.75);
  transition: all 300ms linear;
}

.card-img-girl {
  display: flex;
  min-width: 46px;
  margin-left: 14px;
  background-image: url(../images/some-girl.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 46px;
  height: 46px;
  box-shadow: 0 0 0 2px rgb(255, 228, 80);
  border-radius: 50%;
  transition: all 300ms linear;
}

.card-img-girl:hover,
.card-img-girl:focus {
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.75);
  transition: all 300ms linear;
}
/* .img {
    display: inline-block;
} */

.team-about {
  position: relative;
  padding-right: 16px;
  margin-left: 16px;
}
.team-title {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--main-text-color);
  margin-bottom: 2px;
}

.team-text {
  /* font-family: "Roboto" sans-serif; */
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--main-text-color);
}

.line {
  /* position: absolute; */
  width: 1px;
  height: auto;
  background-color: #7eb101;
  border-radius: 1px;
}

/* ================ п'ята секція =============== */

.fifth-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 44px;
  padding-left: 16px;
}

.subscribe-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  padding-left: 16px;
  margin-bottom: 50px;
}

.banana-box {
  display: flex;
}

.banana-btn {
  display: flex;
  padding-left: 16px;
}

/* .btn-list {
  display: flex;
} */

.btn-mail {
  display: flex;
  align-items: start;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
  height: 32px;
  min-width: 394px;
  padding: 6px 18px;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 30px;
  border: 1px solid #ffe550;
}

.btn-mail:hover,
.btn-mail:focus {
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
}

.btn-subscribe {
  display: flex;
  align-items: start;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: var(--main-text-color);
  height: 32px;
  padding: 6px 18px;
  background-color: #bbf330;
  border-radius: 30px;
  border: none;
  transition: all 300ms linear;
}

.btn-subscribe:hover,
.btn-subscribe:focus {
  background-color: #ffe450;
  transition: all 300ms linear;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
}

.subscribe-img {
  max-width: 546px;
  margin-left: 46px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(94, 99, 99, 0.7);
  transition: all 300ms linear;
}

.modal {
  position: absolute;
  width: 449px;
  height: 458px;
  top: 50%;
  left: 50%;
  border-radius: 30px;
  transform: translate(-50%, -50%);
  background-color: #ffe550;
}

.btn-modal {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 250ms linear;
}

.btn-modal:hover {
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.6);
  transition: all 250ms linear;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.form-title {
  text-align: center;
  font-size: 24px;
  line-height: 1.2;
  color: #2c2c2c;
  padding-top: 32px;
  margin-bottom: 40px;
}
.form-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 32px;
  padding-right: 32px;
}

.modal-field {
  height: 48px;
  border: none;
  border-radius: 30px;
  padding-left: 12px;
  box-shadow: inset 0px 2px rgba(0, 0, 0, 0.15);
}

.modal-field:not(:last-child) {
  margin-bottom: 48px;
}

.btn-send {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: var(--main-text-color);
  height: 32px;
  padding: 6px 18px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 32px;
  background-color: #ffffff;
  border: 2px solid #7eb101;
  border-radius: 30px;
  transition: all 300ms linear;
}

.btn-send:hover,
.btn-send:focus {
  background-color: #bbf330;
  border-color: #bbf330;
  transition: all 300ms linear;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
}
